html {
    background-color: #fff;
    overflow-y: scroll;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

.ic-hr {
    margin-bottom: 30px !important;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.ic-cn {
    font-family: "Helvetica Neue",Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Wenquanyi Micro Hei",sans-serif;
}

.ic-eng {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.ic-container {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
    /* 为窄屏幕留白 */
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #286090;
}

/* 1em = 16px */
/* xl lg md sm */

.ic-hidden {
    display: none;
    /* flex 与 none 的冲突 */
    width: 0; height: 0; opacity: 0;
}

/* < 568px */
@media screen and (max-width: 35.5em) {
    .ic-xs-hidden {display: none !important; }
    .ic-xs { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 568px */
@media screen and (min-width: 35.5em) and (max-width: 48em) {
    .ic-sm-hidden { display: none !important; }
    .ic-sm { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 768px */
@media screen and (min-width: 48em) and (max-width: 64em) {
    .ic-md-hidden { display: none !important; }
    .ic-md { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 1024px */
@media screen and (min-width: 64em) and (max-width: 80em) {
    .ic-lg-hidden { display: none !important; }
    .ic-lg { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 1280px */
@media screen and (min-width: 80em) {
    .ic-xl-hidden { display: none !important; }
    .ic-xl { display: inherit; width: auto; height: auto; opacity: unset; }
}
