html {
    background-color: #fff;
    overflow-y: scroll;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

body {
}

* {
    box-sizing: border-box;
}

.ic-hr {
    margin-bottom: 30px !important;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.ic-cn {
    font-family: "Helvetica Neue",Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Wenquanyi Micro Hei",sans-serif;
}

.ic-eng {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.ic-container {
    max-width: 1020px !important;
    margin-left: auto;
    margin-right: auto;
    /* 为窄屏幕留白 */
    padding-left: 10px;
    padding-right: 10px;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}

.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom
}

.pure-table td {
    background-color: transparent
}

.pure-table-odd td {
    background-color: #f2f2f2
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2
}

.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb
}

.pure-table-bordered tbody>tr:last-child>td {
    border-bottom-width: 0
}

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px;
    border-bottom: 1px solid #cbcbcb
}

.pure-table-horizontal tbody>tr:last-child>td {
    border-bottom-width: 0
}
/* 首页由于标题居中的特殊效果上下自有间隔，其他页面需要留白 15px 实现对齐 */
.ic-topbtns {
    display: flex;
}

.ic-topbtns > a {
    display: block;
    margin-right: .35em;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #286090;
}

/* 1em = 16px */
/* xl lg md sm */

.ic-hidden {
    display: none;
    /* flex 与 none 的冲突 */
    width: 0; height: 0; opacity: 0;
}

/* < 568px */
@media screen and (max-width: 35.5em) {
    .ic-xs-hidden {display: none !important; }
    .ic-xs { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 568px */
@media screen and (min-width: 35.5em) and (max-width: 48em) {
    .ic-sm-hidden { display: none !important; }
    .ic-sm { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 768px */
@media screen and (min-width: 48em) and (max-width: 64em) {
    .ic-md-hidden { display: none !important; }
    .ic-md { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 1024px */
@media screen and (min-width: 64em) and (max-width: 80em) {
    .ic-lg-hidden { display: none !important; }
    .ic-lg { display: inherit; width: auto; height: auto; opacity: unset; }
}

/* > 1280px */
@media screen and (min-width: 80em) {
    .ic-xl-hidden { display: none !important; }
    .ic-xl { display: inherit; width: auto; height: auto; opacity: unset; }
}
