.ic-btn {
    border: none;
    padding: 7px 12px;
    font-size: 0.75em;
    line-height: 1.3em;
    text-decoration: none;
    transition: background .15s;
    color: #222;
}

.ic-btn.blue.click {
    color: #fff;
    background-color: #5599F9;
}

.ic-btn.blue.click:hover {
    color: #fff;
    background-color: #66AAFF;
}

.ic-btn.blue.keep {
    color: #fff;
    background-color: #5599F9;
}

.ic-btn.green.click {
    color: #fff;
    background-color: #55AA55;
}

.ic-btn.green.click:hover {
    color: #fff;
    background-color: #449944;
}

.ic-btn.green.keep {
    color: #fff;
    background-color: #55AA55;
}

.ic-btn.orange.keep {
    color: #fff;
    background-color: #e45735;
}

.ic-btn.orange:not(.keep):hover {
    color: #e45735;
    background-color: #f7cdc2;
}
