/* .forum-box {} */

#board-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

/* 版块单项 */

.board-item-box {
    padding: 10px 0 10px 10px;
}

.board-item-box:hover {
    background-color: #f3f6f9;
    border-radius: 3px;
}

.board-item {
    display: flex;
    /* height: 4em; */
    margin: 0;
    min-height: 4em;
}

.board-item > .title {
    flex: 14 0 auto;
    display: flex;
    flex-direction: column;    
    flex-basis: 0%;
    overflow: hidden;
    position: relative;
}

.board-item > .title > * {
    margin: 0px;
    flex: 1 0 0%;
    font-weight: normal;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;    
    overflow: hidden;
}

.board-item > .title > h2 {
    font-size: 1em;
}

.board-item > .title > .name {
    font-size: 1em;
}

.board-item > .title > p {
    font-size: 0.8em;
    color: #777;
}

.board-item > .title > .sub-boards {
    font-size: 0.8em;
    display: block;
}

.board-item .detail {
    display: flex;
    flex: 10 0 auto;
    flex-basis: 0%;
}

.board-item > .title > .icons {
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(102, 102, 102);
    /* 第一项一度为 0，忘记当时的想法了 */
    padding: 10px 10px 10px 10px;
}

/* 板块条目 - 最近发言 */
.board-item > .detail > .recent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
    font-size: .75em;
    flex: 6 0 auto;
    flex-basis: 0%;
    overflow: hidden;
    position: relative;
}

.board-item > .detail > .recent > .line {
    border-left: 4px solid #ccc;
    height: 85%;
    padding-left: 0;
}

.board-item > .detail > .recent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.board-item > .detail > .recent > .post {
    flex: 1 0 0;
    max-height: 100%;
    overflow: hidden;
    padding-left: 1.25em;
    text-overflow: ellipse;
}

.board-item > .detail > .recent > .post > .post-content {
    cursor: pointer;
    max-height: 3.6em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.board-item > .detail > .recent > .time {
    padding: 0 1em;
}

/* 板块条目 - 右侧横框计数部分 */
.board-item > .detail > .count-block {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    flex: 4 0 0;
    flex-basis: 0%;
    overflow: hidden;
}

.board-item > .detail > .count-block > div {
    flex: 1 0 auto;
    text-align: center;
    width: 1%; /* 如果不加这个，flex 布局会超框，overflow无效 */
}

.board-item > .detail > .count-block > * > p {
    margin: 0;
}

.count-block > .count > .num {
    line-height: 32px; /* 与num保持一致 */
    flex-basis: 0%;
    color: #777;
    font-weight: normal;
}

.count-block > .count > .board {
    line-height: 32px; /* 与num保持一致 */
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;    
    flex-basis: 0%;
}

.count-block > .count > .txt {
    color: #777;
    font-weight: 300;
    font-size: .8em;
    flex-basis: 0%;
}

.count-block > .count > .tip {
    position: absolute;
    font-size: .625em;
    right: 15%;
    top: .2em;
    flex-basis: 0%;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
