html {
    overflow-y: scroll !important;
}

body {
    overflow: hidden;
    background-color: $main-background-color;
    color: $gray-600;
}

body, button, input, select, textarea {
    font: 400 $font-size-base Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
    line-height: 1.8;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}

// firefox: 去除焦点虚线框
a:focus {
    outline: none;
}

// Elevations

.ic-z0 {
    @include depth(0);
}

.ic-z1 {
    @include depth(1);
}

.ic-z2 {
    @include depth(2);
}

.ic-z3 {
    @include depth(3);
}

.ic-z4 {
    @include depth(4);
}

.ic-z5 {
    @include depth(5);
}

.ic-z6 {
    @include depth(6);
}

.ic-z7 {
    @include depth(7);
}

.ic-z8 {
    @include depth(8);
}

.ic-z9 {
    @include depth(9);
}

.ic-z10 {
    @include depth(10);
}

.ic-z11 {
    @include depth(11);
}

.ic-z12 {
    @include depth(12);
}
.ic-z13 {
    @include depth(13);
}

.ic-z14 {
    @include depth(14);
}

.ic-z15 {
    @include depth(15);
}

.ic-z16 {
    @include depth(16);
}

.ic-z17 {
    @include depth(17);
}

.ic-z18 {
    @include depth(18);
}

.ic-z19 {
    @include depth(19);
}

.ic-z20 {
    @include depth(20);
}

.ic-z21 {
    @include depth(21);
}

.ic-z22 {
    @include depth(22);
}

.ic-z23 {
    @include depth(23);
}

.ic-z24 {
    @include depth(24);
}

.placeholder-text {
    display: inline-block;
    background-color: #e9e9e9;
    width: 100%;

    &.f12 { height: 12px; }
    &.f14 { height: 14px; }
    &.f16 { height: 16px; }
    &.f18 { height: 18px; }
}

.limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.w2 { width: 3em; }
    &.w4 { width: 5em; }
    &.w6 { width: 7em; }
    &.w8 { width: 9em; }

    &.l2 { min-width: 3em; }
    &.l4 { min-width: 5em; }
    &.l6 { min-width: 7em; }
    &.l8 { min-width: 9em; }

    &.m2 { max-width: 3em; }
    &.m4 { max-width: 5em; }
    &.m6 { max-width: 7em; }
    &.m8 { max-width: 9em; }
}

@media screen and (lt-rbp(lg)) {
    .board-item .detail {
        flex: 4 0 0%;
    }
}

@media screen and (lt-rbp(sm)) {
    .header > .ic-navbtns {
        margin-left: 11px;
    }

    .ic-topbtns-box {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .center {
        // margin-top: 49px + 26px;
        margin-top: 49px + 10px;
    }
}

@media screen and (lt-rbp(md)) {
    .append-icons {
        width: 36px !important;
        padding-right: 10px !important;
    }
}
