html {
    background-color: $main-background-color;
    overflow-y: scroll !important;
}

body {
    overflow: hidden;
}

body, button, input, select, textarea {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans, FontAwesome, sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}
